@* @model IEnumerable<MVCExample.Models.Category> *@
@using Models
@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index(Category)</h1>
<h4>
    Category
    <span style="color: red">
        @ViewBag.Message
        <br />
        @ViewData["msg"]
        <br />
        @TempData["msg1"]
    </span>
</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Category item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                <a href="../Categories/Edit?id=@item.Id">CategoryList</a>
            </td>
        </tr>
}
    </tbody>
</table>
