@model IEnumerable<Transport_Management_System.Models.Route>

@{
    ViewData["Title"] = "Index";
}

<h1>Routes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDestination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDestination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDestination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDestination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RouteID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RouteID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RouteID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
